* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  font-family: sans-serif;
  font-weight: 300;
}

.btn {
  font-size: .8rem;
  font-weight: 300;
  padding: 5px;
  color: #fff;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
  border: 1px solid #3079ed;
  outline: 0;
}

#drawing-board {
  background-color: #f5f5f5;
}

.controls-container {
  margin: 5px 0;
}

.controls-container div{
  display: inline-block;
  margin: 0 1px;
}

.guess-input {
  width: 50vw;
  padding: 5px;
  font-size: .8rem;
  font-weight: 300;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #aaa;
  transition: all 0.3s ease;
}

.guess-input:focus {
  border-color: #4d90fe;
}

.role-container {
  font-size: .8rem;
  padding: 5px;
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}

.score-container {
  font-size: .8rem;
  padding: 5px;
}

.clear-canvas {
  float: right;
  margin-right: 2px;
}